@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
/* Headings */
.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}
.container-fluid {
    padding: 3% 15% 7%;
}
p {
    color: #8f8f8f;
}
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Download Buttons */
.download-btn {
    margin: 5% 3% 5% 0;
}

/* Title image */
#title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    width: 19rem;
}

/* Features Section */
#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    /* z-index: 1; */
}
.feature-title {
    font-size: 1.5rem;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover {
    color: #ff4c68;
}
#feature-box {
    padding: 1.9%;
}

/* Testimonials session */
#testimonial {
    background-color: #ef8172;
    color: #fff;
}
.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 3% 20%;
}
.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
    padding: 100px;
}
.pricing-column {
    padding: 3% 2%;
}
.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* CTA section */
#cta {
    background-color: #ff4c68;
    padding: 3% 15%;
}
#cta h3 {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2.8rem;
    line-height: 1.5;
}
#cta .button {
    margin-top: 0;
}

/* Footer section  */
#footer {
    padding: 4% 15%;
    background-color: #fff;
}
#footer p {
    color: #8f8f8f;
}
#footer .fa, .fas {
    color: black;
    margin: 1% .3% 2%;
}



@media only screen and (max-width:990px) {
    /* Navigation section  */
    .navbar {
        padding: 8% 0 4.5rem;
    }
    .nav-link {
        font-size: 1.7rem;
    }

    /* All <p> tags  */
    p {
        font-size: 1.5rem;
    }
    
    /* Title section */
    #title-img {
        position: static;
        transform: rotate(0);
    }
    #title {
        text-align: center;
    }
    /* Footer links */
    #footer .fa, .fas {
        color: black;
        margin: 1% 1.5% 2%;
    }
}